@use "../core" as *;

.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  grid-auto-rows: 250px;
  justify-content: center;
  gap: 10px;
  height: 70vh;
  width: 80%;
  margin: 20px auto;
  overflow: auto;

  @include mq("tablet") {
    grid-template-columns: repeat(2, 49%);
  }

  @include mq("phablet") {
    grid-template-columns: 100%;
  }

  .item {
    position: relative;

    h4 {
      @include adaptiv-font(25, 20);
      z-index: z("page-wrapper");
    }

    .img {
      position: absolute;
      bottom: 0;
      height: 87%;
      width: 100%;
      border: 1px solid get($colors, "white");
    }
  }
}
