@use "../core" as *;

.social {
  position: absolute;
  top: 30%;
  left: 0;

  @include mq("phablet") {
    top: 0;
    right: 0;
    left: auto;
    display: flex;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    border: 1px solid get($colors, "white");

    @include mq("tablet-small") {
      height: 45px;
      width: 45px;
    }

    @include mq("phablet") {
      height: 35px;
      width: 35px;

      svg {
        width: 20px;
      }
    }
  }
}
