@use "mixin" as *;

h1 {
  font-weight: 700 !important;
  @include adaptiv-font(30, 56);
}
h2 {
  font-weight: 600 !important;
  @include adaptiv-font(22, 36);
}
h3 {
  font-weight: 600 !important;
  @include adaptiv-font(20, 24);
}
h4 {
  font-weight: 600 !important;
  @include adaptiv-font(16, 20);
}
h5 {
  font-weight: 500 !important;
  @include adaptiv-font(14, 18);
}
p {
  @include adaptiv-font(12, 16);
}
