@use "text";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent !important;
  line-height: normal;
  box-sizing: border-box;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #2d3134;
  }

  &:focus-visible {
    outline: none;
  }
}

a {
  display: block;
}

input {
  outline: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: z("modal");

  &.transition {
    &-enter {
      opacity: 0;
    }
    &-enter-active {
      opacity: 1;
      transition: all 800ms;
    }
    &-exit {
      opacity: 1;
    }
    &-exit-active {
      opacity: 0;
      transition: all 800ms;
    }
  }

  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    cursor: default;
    background: #ffffff;
  }
}
.loader-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #a91079;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    &:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    &:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    &:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    &:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }

    @keyframes lds-ellipsis1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes lds-ellipsis2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24px, 0);
      }
    }
    @keyframes lds-ellipsis3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
  }
}

.swiper-pagination {
  display: flex;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  .swiper-pagination-bullet {
    position: relative;
    width: 29px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid #f806cc;
    margin-left: 10px;
    cursor: pointer;

    @media (max-width: 400px) {
      width: 22px;
      height: 22px;
    }

    &:hover:after {
      transform: translate(-50%, -50%);
      opacity: 1;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0, 0);
      width: 75%;
      height: 75%;
      border-radius: 50%;
      background-color: #f806cc;
      opacity: 0;
      transition: 300ms;
    }

    &:first-child {
      margin-left: 0;
    }

    &.swiper-pagination-bullet-active {
      &:after {
        transform: translate(-50%, -50%);
        opacity: 1;
      }
    }
  }
}
